<a href="https://colab.research.google.com/github/ihsanulcode/Python3/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [19]:
#Arbitrary Arguments, *args
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [6]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [9]:
#Default Parameter Value
def my_function(country = "Bangladesh"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Bangladesh
I am from Brazil

In [11]:
#Keyword Arguments
def mycourses(course1,course2,course3):
  print("My courses are: "+course1+", "+course2+", "+course3)
mycourses(course1 = "CSE231", course2 = "MAT350", course3 = "EEE141")

My courses are: CSE231, MAT350, EEE141

In [17]:
#Arbitrary Keyword Arguments, **kwargs
def mycourses(**course):
  for i in course:
    print(course[i])
mycourses(course1 = "CSE231", course2 = "MAT350", course3 = "EEE141")

CSE231
MAT350
EEE141

In [22]:
#passing list as an argument
def mycourses(courses):
  for i in courses:
    print(i+" ")

courses = ["CSE115","CSE215","CSE225","CSE231"]
mycourses(courses)

CSE115
CSE215
CSE225
CSE231