<a href="https://colab.research.google.com/github/ihsanulcode/Python3/blob/main/List_functionality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#pop item from list 

data = [1,2,3,4,5]
print("List: ",data)
print("pop 0th index: ",data.pop(0))
print("current list: ",data)

List:  [1, 2, 3, 4, 5]
pop 0th index:  1
current list:  [2, 3, 4, 5]

In [25]:
#append / insert  item

data = [1,2,3]
print("List: ",data)
print("append 4")
data.append(4)
print("insert 5")
data.insert(4,5)
print("current list: ",data)

List:  [1, 2, 3]
append 4
insert 5
current list:  [1, 2, 3, 4, 5]

In [27]:
#Extend()	Add all elements of a list to the another list

data1 = [1,2,3]
data2 = [4,5]

data1.extend(data2)
print("Extended list: ",data)

Extended list:  [1, 2, 3, 4, 5]

In [28]:
#Remove()

data = [1,2,3]
print("List: ",data)
print("remove 3")
data.remove(3)
print("current list: ",data)
print("remove 2")
data.remove(2)
print("current list: ",data)

List:  [1, 2, 3]
remove 3
current list:  [1, 2]
remove 2
current list:  [1]

In [29]:
#Clear()	Removes all items from the list

data = [1,2,3]
print("current list: ",data)
data.clear()
print("current list: ",data)

current list:  [1, 2, 3]
current list:  []

In [30]:
#index() method only returns the first occurrence of the value.

data = [1,2,3]
n = data.index(2)
print(n)

1

In [31]:
#copy() method returns a copy of the specified list.

data = [1,2,3]
copy_data = data.copy()
print("data: ",data)
print("copy_data: ",copy_data)

data:  [1, 2, 3]
copy_data:  [1, 2, 3]

In [33]:
#count() method returns the number of elements with the specified value.

data = [1,2,3,2,3,1]
print("count 1: ",data.count(1))
print("count 2: ",data.count(2))
print("count 3: ",data.count(3))

count 1:  2
count 2:  2
count 3:  2

In [34]:
#reverse() method reverses the sorting order of the elements.

data = [1,2,3]
print("data: ",data)
data.reverse()
print("reverse: ",data)

data:  [1, 2, 3]
reverse:  [3, 2, 1]

In [37]:
#sort() method sorts the list ascending by default.

data1 = [5,3,2,1,4]
data2 = [1,2,3,2,3,1]
cars = ['Ford', 'BMW', 'Volvo']
courses = ["CSE215","CSE115","CSE225"]

data1.sort()
data2.sort()
cars.sort()
courses.sort()

#print
print("data1: ",data1)
print("data2: ",data2)
print("cars: ",cars)
print("courses: ",courses)

data1:  [1, 2, 3, 4, 5]
data2:  [1, 1, 2, 2, 3, 3]
cars:  ['BMW', 'Ford', 'Volvo']
courses:  ['CSE115', 'CSE215', 'CSE225']